
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
server-id        				= 1
max_binlog_size         		= 100M
log-bin
log_bin_trust_function_creators	= 1
binlog_format 					= STATEMENT

